<thead>
  <tr>
    <th colspan="2">Category</th>
  </tr>
</thead>
<tbody>
  <%  @category.each do |item| %>
  <tr>
    <td>
      <h4>
        <%= item[:name] %>
        <% end %>
      </h4>
    </td>  
  </tr>     
</tbody>