section.users-new {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 2px black solid;
  margin: auto;
  padding: 10px 5px;
  width: 45%;
  form {
    padding-top: 20px;
    margin: auto;
    input{
      width: 100%;
    }
  }
  



}